* {
	box-sizing: border-box;
	zoom: 1;
	font-family: "Hermit";
	color: $white;
	@include import-text($pink);
}

body {
	overflow: hidden;
}

header {
	position: absolute;
	padding: 3em;
	text-align: right;
	right: 0;
	background-color: fade-out($black, .5);
}

.background {
	background: repeat repeat #{map-get($images, bg)};
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-filter: blur(1px);
	@extend %planetary-shadow;
}

small {
	display: block;
	width: 15em;
}

._solarDays_ {
	height: 30%;
	position: absolute;
	width: 30%;

	fill: $white;
	font-size: 80%;
}
