* {
	box-sizing: border-box;
	zoom: 1;
	font-family: "Hermit";
	color: $white;
	@include import-text($pink);
}

body {
	overflow: hidden;
}

header {
	position: absolute;
	padding: 2em;
	text-align: left;
}

.background {
	background: repeat repeat #{map-get($images, bg)};
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-filter: blur(1px);
	@extend %planetary-shadow;
}