@mixin background ($src) {
	background: $src center center no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
}

%planetary-shadow {
	box-shadow: inset 0 0 20px 16px $black;
}

%sun-brilliance {
	box-shadow: inset 0 0 20px 16px fade-out($yellow, .4);
}

%gradient-top-border {
    &::before {
    	content: "";
    	position: absolute;
    	width: 100%;
    	height: 8px;
    	background: linear-gradient(to left, $pink, $yellow);
    	background: -o-linear-gradient(to left, $pink, $yellow);
    	background: -moz-linear-gradient(to left, $pink, $yellow);
    	background: -webkit-gradient(to left, $pink, $yellow);
    	top: 0;
    	left: 0;
    	right: 0;
    }
}

// ANIMATIONS

%rotate {
	-webkit-animation-name:             rotate; 
	-webkit-animation-duration:         100s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;

	animation-name:             rotate; 
	animation-duration:         100s; 
	animation-iteration-count:  infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to { 
		transform: rotate(360deg);
	}	
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}	
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: $white }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: $white }
}

%cursor {
	display: inline-block;
	width: 25px;
	height: 3px;
	margin-left: -5px;
	vertical-align: bottom;
    border-bottom: 3px solid $white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;	
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

%shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: infinite;
	animation-duration: infinite;
}


