#astronaut {
	height: 10em;
	width: 15em;
	position: absolute;
	top: 5em;
	left: 0;
	right: 0;
	z-index: 999;
	margin: auto;
}

%left {
	-webkit-animation-name:             left; 
	-webkit-animation-duration:         1s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: ease-in-out;

	animation-name:             left; 
	animation-duration:         1s; 
	animation-iteration-count:  infinite;
	animation-timing-function: ease-in-out;
}

@keyframes left {
	100% { 
		transform: translate(-50px) rotate(-12deg);
	}	
}

@-webkit-keyframes left {
	100% { 
		-webkit-transform: translate(-50px) rotate(-12deg);
	}	
}

%right {
	-webkit-animation-name:             right; 
	-webkit-animation-duration:         1s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: ease-in-out;

	animation-name:             right; 
	animation-duration:         1s; 
	animation-iteration-count:  infinite;
	animation-timing-function: ease-in-out;
}

@keyframes right {
	0% {
		transform: rotateZ(20deg) translateX(50px) translateY(-50px);
	}
	100% { 
		transform: rotateZ(20deg) translateX(50px) translateY(-50px);
	}	
}

@-webkit-keyframes right {
	100% {
		-webkit-transform: rotateZ(20deg) translateX(50px) translateY(-50px);
	}	
}
.-left-leg {
	@extend %left;
}

.-right-leg {
	@extend %right;
}