.dashboard {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50%;
	background-color: fade-out($dark-green, .5);
	box-shadow: inset 0 5px 52px 15px fade-out($white, .7);
	padding: 3em;

	// @extend %gradient-top-border;
}

.dashboard--sun {
	height: 8em;
	width: 8em;
	border-radius: 50%;
	position: absolute;
	left: -60px;
	top: -60px;

	@extend %sun-brilliance;
	@include background(#{map-get($planet, sun)});
}

.dashboard--pluto {
	height: 6em;
	width: 6em;
	border-radius: 50%;
	position: absolute;
	right: -40px;
	top: -40px;

	@extend %planetary-shadow;
	@include background(#{map-get($planet, pluto)});
}

.dashboard--planet-summary {
	float: left;
	width: 75%;
	padding-left: 2em;
}

.dashboard--planet-slider {
	cursor: -webkit-grab;
	position: absolute;
	top: -7px;
	right: 0;
	left: 0;
}

.dashboard--planet-slider [type="range"] {
	width: 100%;
	-webkit-appearance: none;
	outline: none;
	background-color: transparent;
	color: inherit;
	box-shadow: none;
	border-radius: 0;
	height: 10px;
	cursor: -webkit-grab;
	box-shadow: 0 5px 4px 2px rgba(14, 50, 22, 0.73);

	background: linear-gradient(to left, $pink, $yellow);
	background: -o-linear-gradient(to left, $pink, $yellow);
	background: -moz-linear-gradient(to left, $pink, $yellow);
	background: -webkit-gradient(to left, $pink, $yellow);

	&:focus {
		cursor: -webkit-grabbing;
	}
}

.dashboard--planet-slider [type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	@include background(url("../images/rocket.svg"));
	cursor: -webkit-grab;
	height: 7em;
	width: 7em;
}

.dashboard--audio {
  float: right;
}

.dashboard--planet-name {
	text-transform: capitalize;
}

