$planet: (
	mercury: url("../images/mercury.gif"),
	venus: url("../images/venus.gif"),
	earth: url("../images/earth.gif"),
	mars: url("../images/mars.gif"),
	saturn: url("../images/saturn.gif"),
	uranus: url("../images/uranus.gif"),
	jupiter: url("../images/jupiter.gif"),
	neptune: url("../images/neptune.gif"),
	sun: url("../images/sun.gif"),
	pluto: url("../images/pluto.gif")
);

%planet {
	margin: 0 auto;
	border-radius: 50%;
	height: 30em;
	width: 30em;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	@extend	%planetary-shadow;
	@extend %rotate;
	opacity: 0;
	transition: opacity .3s linear;
}

.planet {
	height: 50em;
}

[class^="planet--"] {
	@extend %planet;
}

[class$="--mercury"] {
	@include background(#{map-get($planet, mercury)});
	.-mercury & { opacity: 1; }
}

[class$="--venus"] {
	@include background(#{map-get($planet, venus)});
	.-venus & { opacity: 1; }
}	

[class$="--earth"] {
	@include background(#{map-get($planet, earth)});
	.-earth & { opacity: 1; }
}	

[class$="--mars"] {
	@include background(#{map-get($planet, mars)});
	.-mars & { opacity: 1; }
}

[class$="--saturn"] {
	@include background(#{map-get($planet, saturn)});
	.-saturn & { opacity: 1; }	
}

[class$="--jupiter"] {
	@include background(#{map-get($planet, jupiter)});
	.-jupiter & { opacity: 1; }	
}

[class$="--uranus"] {
	@include background(#{map-get($planet, uranus)});
	.-uranus & { opacity: 1; }	
}	

[class$="--neptune"] {
	@include background(#{map-get($planet, neptune)});
	.-neptune & { opacity: 1; }
}	

